name: Autograding Tests
on:
  - push
  - workflow_dispatch
  - repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    container:
      image: osrf/ros:jazzy-desktop
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Workspace
        shell: bash
        run: |
          source /opt/ros/jazzy/setup.bash
          colcon build --packages-select ros2_parameters

      - name: ROS2 Parameters Test
        id: ros-test
        uses: classroom-resources/autograding-command-grader@v1
        with:
          test-name: "Parameters Node Check"
          setup-command: "chmod +x .github/scripts/grade.sh"
          command: "bash .github/scripts/grade.sh"
          timeout: 15
          max-score: 100  
      
      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        env:
          ROS-TEST_RESULTS: "${{ steps.ros-test.outputs.result }}"
        with:
          runners: ros-test